[<< back to main index](../README.md)

# Multiple Linear Regression Lab : House Prices

### Overview
Estimate house prices using MLR

### Builds on
None

### Run time
approx. 20 minutes

### Notes

In [20]:
# initialize Spark Session
import os
import sys
top_dir = os.path.abspath(os.path.join(os.getcwd(), "../"))
if top_dir not in sys.path:
    sys.path.append(top_dir)

from init_spark import init_spark
spark = init_spark()
spark

Initializing Spark...
Spark found in :  /Users/sujee/spark
Spark config:
	 executor.memory=2g
	some_property=some_value
	spark.app.name=TestApp
	spark.master=local[*]
	spark.sql.warehouse.dir=/var/folders/lp/qm_skljd2hl4xtps5vw0tdgm0000gn/T/tmpt8x1x358
	spark.submit.deployMode=client
	spark.ui.showConsoleProgress=true
Spark UI running on port 4040


## Step 1 : House data

In [21]:
%%time

house_prices = spark.read.csv("/data/house-prices/house-sales-full.csv", \
                             header=True, inferSchema=True)
print("read {:,} records".format(house_prices.count()))

read 27,063 records
CPU times: user 2.21 ms, sys: 1.71 ms, total: 3.92 ms
Wall time: 370 ms

In [22]:
house_prices.printSchema()
house_prices.limit(5).toPandas().T

root
 |-- DocumentID: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- SalePrice: integer (nullable = true)
 |-- PropertyID: long (nullable = true)
 |-- PropertyType: string (nullable = true)
 |-- ym: string (nullable = true)
 |-- zhvi_px: integer (nullable = true)
 |-- zhvi_idx: double (nullable = true)
 |-- AdjSalePrice: decimal(8,0) (nullable = true)
 |-- NbrLivingUnits: integer (nullable = true)
 |-- SqFtLot: integer (nullable = true)
 |-- SqFtTotLiving: integer (nullable = true)
 |-- SqFtFinBasement: integer (nullable = true)
 |-- Bathrooms: double (nullable = true)
 |-- Bedrooms: integer (nullable = true)
 |-- BldgGrade: integer (nullable = true)
 |-- YrBuilt: integer (nullable = true)
 |-- YrRenovated: integer (nullable = true)
 |-- TrafficNoise: integer (nullable = true)
 |-- LandVal: integer (nullable = true)
 |-- ImpsVal: integer (nullable = true)
 |-- ZipCode: integer (nullable = true)
 |-- NewConstruction: boolean (nullable = true)

,0,1,2,3,4
DocumentID,1,2,3,4,5
Date,9/16/14,6/16/06,1/29/07,2/25/08,3/29/13
SalePrice,280000,1000000,745000,425000,240000
PropertyID,1000102,1200013,1200019,2800016,2800024
PropertyType,Multiplex,Single Family,Single Family,Single Family,Single Family
ym,9/1/14,6/1/06,1/1/07,2/1/08,3/1/13
zhvi_px,405100,404400,425600,418400,351600
zhvi_idx,0.930836,0.929228,0.977941,0.961397,0.807904
AdjSalePrice,300805,1076162,761805,442065,297065
NbrLivingUnits,2,1,1,1,1
SqFtLot,9373,20156,26036,8618,8620
SqFtTotLiving,2400,3764,2060,3200,1720
SqFtFinBasement,0,1452,900,1640,0
Bathrooms,3,3.75,1.75,3.75,1.75
Bedrooms,6,4,4,5,4
BldgGrade,7,10,8,7,7
YrBuilt,1991,2005,1947,1966,1948
YrRenovated,0,0,0,0,0
TrafficNoise,0,0,0,0,0
LandVal,70000,203000,183000,104000,104000
ImpsVal,229000,590000,275000,229000,205000
ZipCode,98002,98166,98166,98168,98168
NewConstruction,False,True,False,False,False

Wow! That's a lot of columns.  Maybe we should foucs on just a few of them.

**=> Select only "SalePrice", "Bedrooms", "Bathrooms", "SqFtTotLiving", "SqFtLot" **

In [23]:
label_column = 'SalePrice'

## TODO : experiment by adding more features here
## Hint :  'LandVal'
feature_columns = ["Bedrooms", "Bathrooms", "SqFtTotLiving", "SqFtLot"]

select_columns = feature_columns + [label_column]

In [24]:
house_prices2 = house_prices.select (select_columns)
house_prices2.show()

+--------+---------+-------------+-------+---------+
|Bedrooms|Bathrooms|SqFtTotLiving|SqFtLot|SalePrice|
+--------+---------+-------------+-------+---------+
|       6|      3.0|         2400|   9373|   280000|
|       4|     3.75|         3764|  20156|  1000000|
|       4|     1.75|         2060|  26036|   745000|
|       5|     3.75|         3200|   8618|   425000|
|       4|     1.75|         1720|   8620|   240000|
|       2|      1.5|          930|   1012|   349900|
|       3|      1.5|         1750|  34465|   327500|
|       4|     1.75|         1860|  14659|   347000|
|       2|      1.0|          990|   5324|   220400|
|       4|      2.0|         1980|  10585|   437500|
|       2|      1.0|          840|  12750|   150000|
|       3|      1.0|         1750|   5200|   300000|
|       2|      1.0|          790|   5240|   292000|
|       2|      1.0|          790|   5240|   299800|
|       3|     2.25|         1530|   1245|   370000|
|       3|     2.75|         2120|   7320|   605000|
|       2|      2.0|         1130|   1148|   475000|
|       4|      1.5|         2620|   3485|   425000|
|       2|      1.5|         1250|    924|   357500|
|       3|     1.75|         1500|   5253|   455000|
+--------+---------+-------------+-------+---------+
only showing top 20 rows

## Step 2: Create Features and Label Column in Dataframe

We will create our "features" column, which is of type vector, and our label column, for which we can just reuse the SquareFootage column.

In [25]:
from pyspark.ml.feature import VectorAssembler

## TODO : Build features with  "Bedrooms", "Bathrooms", "SqFtTotLiving", "SqFtLot"
## Hint : inputCols = ['Bedrooms', 'Bathrooms', ??? , ??? ]

assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
featureVector = assembler.transform(house_prices2)

## TODO : create a label column to mirror 'SalePrice'
featureVector = featureVector.withColumn("label", featureVector[label_column])
featureVector.show()

+--------+---------+-------------+-------+---------+--------------------+-------+
|Bedrooms|Bathrooms|SqFtTotLiving|SqFtLot|SalePrice|            features|  label|
+--------+---------+-------------+-------+---------+--------------------+-------+
|       6|      3.0|         2400|   9373|   280000|[6.0,3.0,2400.0,9...| 280000|
|       4|     3.75|         3764|  20156|  1000000|[4.0,3.75,3764.0,...|1000000|
|       4|     1.75|         2060|  26036|   745000|[4.0,1.75,2060.0,...| 745000|
|       5|     3.75|         3200|   8618|   425000|[5.0,3.75,3200.0,...| 425000|
|       4|     1.75|         1720|   8620|   240000|[4.0,1.75,1720.0,...| 240000|
|       2|      1.5|          930|   1012|   349900|[2.0,1.5,930.0,10...| 349900|
|       3|      1.5|         1750|  34465|   327500|[3.0,1.5,1750.0,3...| 327500|
|       4|     1.75|         1860|  14659|   347000|[4.0,1.75,1860.0,...| 347000|
|       2|      1.0|          990|   5324|   220400|[2.0,1.0,990.0,53...| 220400|
|       4|      2.0|         1980|  10585|   437500|[4.0,2.0,1980.0,1...| 437500|
|       2|      1.0|          840|  12750|   150000|[2.0,1.0,840.0,12...| 150000|
|       3|      1.0|         1750|   5200|   300000|[3.0,1.0,1750.0,5...| 300000|
|       2|      1.0|          790|   5240|   292000|[2.0,1.0,790.0,52...| 292000|
|       2|      1.0|          790|   5240|   299800|[2.0,1.0,790.0,52...| 299800|
|       3|     2.25|         1530|   1245|   370000|[3.0,2.25,1530.0,...| 370000|
|       3|     2.75|         2120|   7320|   605000|[3.0,2.75,2120.0,...| 605000|
|       2|      2.0|         1130|   1148|   475000|[2.0,2.0,1130.0,1...| 475000|
|       4|      1.5|         2620|   3485|   425000|[4.0,1.5,2620.0,3...| 425000|
|       2|      1.5|         1250|    924|   357500|[2.0,1.5,1250.0,9...| 357500|
|       3|     1.75|         1500|   5253|   455000|[3.0,1.75,1500.0,...| 455000|
+--------+---------+-------------+-------+---------+--------------------+-------+
only showing top 20 rows

##  Step 3: Run the Linear Regression Model

In [26]:
from pyspark.ml.regression import LinearRegression

## Hint : Run model with max iterations as 10
#lr = LinearRegression(maxIter=???)
lr = LinearRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)
lrModel = lr.fit(featureVector)

print("Coefficents:" + str(lrModel.coefficients))
print("Intercept: " + str(lrModel.intercept))

Coefficents:[-69405.45781195552,25714.1481078027,274.45831276947166,-0.0]
Intercept: 105562.58117252712

**Insepct the coeffiients.  Are you seeing any ZERO (0) values?  What is the meaning of this?**

In [27]:
print("numIterations: %d" % lrModel.summary.totalIterations)
print("objectiveHistory: %s" % str(lrModel.summary.objectiveHistory))
# lrModel.summary.residuals.show()
print("RMSE: %f" % lrModel.summary.rootMeanSquaredError)

## TODO : print 'r2' from training summary
## Hint : Use TAB completion
print("r2: %f" % lrModel.summary.r2)

numIterations: 11
objectiveHistory: [0.5000000000000002, 0.4565457266170319, 0.3376986997173243, 0.30010335871879656, 0.2852977093323423, 0.27654782886180707, 0.2701349132960898, 0.26332624819112604, 0.26138384191458414, 0.25967594157902535, 0.25839392000729794]
RMSE: 246442.225880
r2: 0.483214

#### Observe the summary output
- How many iterations did it do?
- Is it more than our 'max' iterations?
- If so, increase the 'maxIter' to 50 and run it again
- How many iterations is done now?  
- Can you explain the behavior?
- Also did the coefficients change from  maxIter=10  to maxIter=50 ?
- Did r2 change?  Why / Why-not?

## Step 4:  Predict some home prices
Create a new data frame with the following data

In [28]:
import pandas as pd

# Make a Pandas dataframe
new_data = pd.DataFrame({'Bedrooms' : [5,3,2],
                         'Bathrooms' : [3,2,1.5],
                         'SqFtTotLiving' : [4400, 1800, 1550],
                         'SqFtLot' : [10000, 5000, 4000]
             })

new_data_spark = spark.createDataFrame(new_data)
new_featureVector = assembler.transform(new_data_spark)  #run VectorAssembler again to create features.
new_featureVector.show()

+--------+---------+-------------+-------+--------------------+
|Bedrooms|Bathrooms|SqFtTotLiving|SqFtLot|            features|
+--------+---------+-------------+-------+--------------------+
|       5|      3.0|         4400|  10000|[5.0,3.0,4400.0,1...|
|       3|      2.0|         1800|   5000|[3.0,2.0,1800.0,5...|
|       2|      1.5|         1550|   4000|[2.0,1.5,1550.0,4...|
+--------+---------+-------------+-------+--------------------+

## Step 5: Run on some prediction data

Lets see the predicted output.

In [29]:
## TODO: transform dataframe with new feature vector to get predictions
## Hint : new_featureVector

predicted_prices = lrModel.transform(new_featureVector)
predicted_prices.show()

+--------+---------+-------------+-------+--------------------+------------------+
|Bedrooms|Bathrooms|SqFtTotLiving|SqFtLot|            features|        prediction|
+--------+---------+-------------+-------+--------------------+------------------+
|       5|      3.0|         4400|  10000|[5.0,3.0,4400.0,1...|1043294.3126218329|
|       3|      2.0|         1800|   5000|[3.0,2.0,1800.0,5...|442799.46693731495|
|       2|      1.5|         1550|   4000|[2.0,1.5,1550.0,4...| 430733.2725030012|
+--------+---------+-------------+-------+--------------------+------------------+

## Step 6 : Some more FUN
Now let's feed 'SalePrice' as an input to our VectorAssembler.  
In Step-2, try this

```python
feature_columns = ["SalePrice", "Bedrooms", "Bathrooms", "SqFtTotLiving", "SqFtLot"]
```

Run again, and observe the following:
- look at the coefficients  (why are most of them zero?)
- look at r2

Can you explain what is going on :-)